CreditCard Fraud Analysis.json
{
  "name": "CreditCard Fraud Analysis v3.d FINAL",
  "nodes": [
    {
      "parameters": {
        "content": "## **Preparo do arquivo de entrada**\n(Assume arquivo creditcard.csv.zip no root folder do google drive)\n1. Download do zip contendo CSV, creditcard.csv.zip (67.5 MB)\n2. Descompactar Zip (CSV 147.3 MB)\n3. Converter o numero dado de registros para formato JSON \n\n\n\n",
        "height": 400,
        "width": 1584,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        -16
      ],
      "id": "7ff4d075-3353-4e76-9fbd-5a1210b0bff9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## **Preparo de Meatadata e dados para o Pinecone Vector Store**\n\n1. Computar Metadata para Pinecone\n2. Criar os Embeddings para o Pinecone\n\n\n",
        "height": 368,
        "width": 1152,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3136,
        0
      ],
      "id": "68c4d739-730e-45d3-98df-3a99d599cafc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconsole.log(`[START] Processing ${items.length} transactions`);\n\n// Helper functions\nfunction detectOutliers(values) {\n  const sorted = [...values].filter(v => !isNaN(v)).sort((a, b) => a - b);\n  const q1 = sorted[Math.floor(sorted.length * 0.25)];\n  const q3 = sorted[Math.floor(sorted.length * 0.75)];\n  const iqr = q3 - q1;\n  const lowerBound = q1 - (1.5 * iqr);\n  const upperBound = q3 + (1.5 * iqr);\n  return values.map(v => v < lowerBound || v > upperBound);\n}\n\nfunction getAmountBucket(amount) {\n  if (amount < 10) return \"0-10\";\n  if (amount < 50) return \"10-50\";\n  if (amount < 100) return \"50-100\";\n  if (amount < 200) return \"100-200\";\n  if (amount < 500) return \"200-500\";\n  if (amount < 1000) return \"500-1000\";\n  return \"1000+\";\n}\n\nfunction getTimeBucket(time) {\n  const hours = time / 3600;\n  if (hours < 6) return \"0-6h\";\n  if (hours < 12) return \"6-12h\";\n  if (hours < 18) return \"12-18h\";\n  if (hours < 24) return \"18-24h\";\n  if (hours < 30) return \"24-30h\";\n  if (hours < 36) return \"30-36h\";\n  if (hours < 42) return \"36-42h\";\n  return \"42h+\";\n}\n\nfunction simpleClustering(data, k = 5) {\n  console.log(`[CLUSTERING] Processing ${data.length} items...`);\n  const result = [];\n  for (let i = 0; i < data.length; i++) {\n    const row = data[i].json || data[i];\n    const hash = (parseFloat(row.V1 || 0) + parseFloat(row.V2 || 0) + parseFloat(row.V3 || 0)) * 1000;\n    result.push(Math.abs(Math.floor(hash)) % k);\n  }\n  return result;\n}\n\n// Helper to get Time from first column\nfunction getTimeFromRow(row) {\n  const firstKey = Object.keys(row)[0];\n  return parseFloat(row[firstKey]) || 0;\n}\n\n// Compute metadata\nconsole.log(\"[OUTLIERS] Computing outliers...\");\nconst amounts = [];\nconst times = [];\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json || items[i];\n  amounts.push(parseFloat(row.Amount || 0));\n  times.push(getTimeFromRow(row));\n}\n\nconst outlierFlags = detectOutliers(amounts);\nconst timeOutlierFlags = detectOutliers(times);\n\nconsole.log(\"[CLUSTERING] Computing clusters...\");\nconst clusterAssignments = simpleClustering(items, 5);\n\nconsole.log(\"[ANOMALY] Computing anomaly scores...\");\nconst anomalyScores = [];\nlet maxScore = 0;\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json || items[i];\n  let sum = 0;\n  for (let j = 1; j <= 28; j++) {\n    sum += Math.abs(parseFloat(row[`V${j}`] || 0));\n  }\n  anomalyScores.push(sum);\n  if (sum > maxScore) maxScore = sum;\n}\n\n// Normalize scores\nconst normalizedScores = anomalyScores.map(s => s / maxScore);\n\n// Build output\nconst output = [];\nfor (let idx = 0; idx < items.length; idx++) {\n  const row = items[idx].json || items[idx];\n  const time = getTimeFromRow(row);\n  const amount = parseFloat(row.Amount || 0);\n  const fraudClass = parseInt(row.Class || 0);\n\n  output.push({\n    json: {\n      id: `txn_${String(idx).padStart(8, '0')}`,\n      Time: time,\n      V1: parseFloat(row.V1 || 0),\n      V2: parseFloat(row.V2 || 0),\n      V3: parseFloat(row.V3 || 0),\n      V4: parseFloat(row.V4 || 0),\n      V5: parseFloat(row.V5 || 0),\n      V6: parseFloat(row.V6 || 0),\n      V7: parseFloat(row.V7 || 0),\n      V8: parseFloat(row.V8 || 0),\n      V9: parseFloat(row.V9 || 0),\n      V10: parseFloat(row.V10 || 0),\n      V11: parseFloat(row.V11 || 0),\n      V12: parseFloat(row.V12 || 0),\n      V13: parseFloat(row.V13 || 0),\n      V14: parseFloat(row.V14 || 0),\n      V15: parseFloat(row.V15 || 0),\n      V16: parseFloat(row.V16 || 0),\n      V17: parseFloat(row.V17 || 0),\n      V18: parseFloat(row.V18 || 0),\n      V19: parseFloat(row.V19 || 0),\n      V20: parseFloat(row.V20 || 0),\n      V21: parseFloat(row.V21 || 0),\n      V22: parseFloat(row.V22 || 0),\n      V23: parseFloat(row.V23 || 0),\n      V24: parseFloat(row.V24 || 0),\n      V25: parseFloat(row.V25 || 0),\n      V26: parseFloat(row.V26 || 0),\n      V27: parseFloat(row.V27 || 0),\n      V28: parseFloat(row.V28 || 0),\n      Amount: amount,\n      transaction_id: `txn_${String(idx).padStart(8, '0')}`,\n      class: fraudClass,\n      class_label: fraudClass === 0 ? \"legitimate\" : \"fraud\",\n      amount_bucket: getAmountBucket(amount),\n      time_bucket: getTimeBucket(time),\n      is_outlier: outlierFlags[idx] || timeOutlierFlags[idx],\n      cluster_id: clusterAssignments[idx],\n      anomaly_score: parseFloat(normalizedScores[idx].toFixed(4)),\n      anomaly_level:\n        normalizedScores[idx] > 0.8\n          ? \"high\"\n          : normalizedScores[idx] > 0.5\n          ? \"medium\"\n          : \"low\",\n    },\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        160
      ],
      "id": "65800ae9-0f18-45fe-9ec7-159814b7be0a",
      "name": "Code - Compute Metadata6"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconsole.log(`Creating embeddings for ${items.length} items`);\n\nconst embeddings = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json;\n  \n  const features = [];\n  \n  // 1️⃣ Add normalized Time first\n  const time = parseFloat(data.Time || 0);\n  features.push(time / 172800); // Normalize by ~2 days\n  \n  // 2️⃣ Add V1-V28 PCA features\n  for (let j = 1; j <= 28; j++) {\n    features.push(parseFloat(data[`V${j}`] || 0));\n  }\n  \n  // 3️⃣ Add normalized Amount\n  const amount = parseFloat(data.Amount || 0);\n  features.push(Math.log(amount + 1) / 10);\n  \n  // 4️⃣ Add Class (0 or 1)\n  features.push(parseFloat(data.class || 0));\n  \n  // Now features.length === 31\n  embeddings.push({\n    json: {\n      id: data.id || data.transaction_id || `txn_${String(i).padStart(8, '0')}`,\n      values: features,\n      metadata: {\n        transaction_id: data.transaction_id || data.id,\n        class: data.class,\n        class_label: data.class_label,\n        amount: data.Amount,\n        amount_bucket: data.amount_bucket,\n        time: data.Time,\n        time_bucket: data.time_bucket,\n        is_outlier: data.is_outlier,\n        cluster_id: data.cluster_id,\n        pca_cluster: `cluster_${data.cluster_id}`,\n        anomaly_score: data.anomaly_score,\n        anomaly_level: data.anomaly_level,\n        record_type: \"transaction\"\n      }\n    }\n  });\n  \n  if ((i + 1) % 10000 === 0) {\n    console.log(`Created ${i + 1} / ${items.length} embeddings`);\n  }\n}\n\nconsole.log(`Created ${embeddings.length} embedding vectors`);\nconsole.log(`Vector dimension: ${embeddings[0].json.values.length}`); // Should print 31\nconsole.log(`Sample vector (first 5 dims): ${embeddings[0].json.values.slice(0, 5).map(v => v.toFixed(3)).join(', ')}`);\n\nreturn embeddings;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        160
      ],
      "id": "664000f6-759d-418a-8f34-aed453c8670b",
      "name": "Code - Create Embeddings6"
    },
    {
      "parameters": {
        "binaryPropertyName": "file_0",
        "options": {
          "headerRow": true,
          "maxRowCount": "={{ $node[\"Set load variables\"].json[\"numMaxRecordsToLoad\"] }}",
          "fromLine": "={{ $node[\"Set load variables\"].json.startLine }}"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2768,
        160
      ],
      "id": "123be757-5cf4-483a-b9ed-5193680e5567",
      "name": "Extract from File6"
    },
    {
      "parameters": {},
      "id": "d92d3d33-c652-4c5c-a29d-6591dde49bb8",
      "name": "Decompress1",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1,
      "position": [
        2208,
        160
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "15Suk2dvte849rHgR3oaFVr2-gzu0-2iR",
          "mode": "list",
          "cachedResultName": "creditcard.csv.zip",
          "cachedResultUrl": "https://drive.google.com/file/d/15Suk2dvte849rHgR3oaFVr2-gzu0-2iR/view?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "7e38d309-4e1d-494a-a7bb-67a0b7d4f097",
      "name": "Google Drive Download1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1904,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RX23XkAgwif02fAz",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://creditcard-fraud-eda-x8q6et6.svc.aped-4627-b74a.pinecone.io/vectors/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"vectors\": [\n      {\n        \"id\": $json.id,\n        \"values\": $json.values,\n        \"metadata\": $json.metadata\n      }\n    ],\n    \"namespace\": \"default\"\n  }\n}}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 25,
              "batchInterval": 1500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4608,
        160
      ],
      "id": "86d45254-58fe-4b5f-9815-e247c04039e5",
      "name": "HTTP Request POST to Pinecone1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "Cqo552PCiiOYtIoa",
          "name": "Bearer Auth account 3"
        },
        "pineconeApi": {
          "id": "unR8Atft8zE7js78",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## **Inserir dados e Metadados no Pinecone**\n\n\n\n\n\n",
        "height": 368,
        "width": 624,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4400,
        0
      ],
      "id": "519b8dee-b3f7-4e11-902f-2331b6d5098f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fraud-chat-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        384,
        1008
      ],
      "id": "94d4d262-5bc2-4cf5-b7f4-e247641f1bbd",
      "name": "Webhook - API",
      "webhookId": "452ecb7e-ae92-4c72-8aaf-c1fc42c5efce"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output",
              "name": "chatInput",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "session",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId || 'default-session' }}",
              "type": "string"
            },
            {
              "id": "2f59a573-67b0-4aee-bfef-604ca06f4ffd",
              "name": "pineconeUrl",
              "value": "={{ $json.body.pineconeUrl }}",
              "type": "string"
            },
            {
              "id": "ac1f967e-7f4d-420c-90e2-76c42bd0da47",
              "name": "pineconeApiKey",
              "value": "={{ $json.body.pineconeKey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        1008
      ],
      "id": "01f24af0-39cb-4fa2-9041-a1d1baf88df0",
      "name": "Format Input"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4592,
        1008
      ],
      "id": "af43cec0-d192-43c8-bd8c-64735b2e1287",
      "name": "Respond with JSON"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1504,
        1184
      ],
      "id": "9a71e7c8-fdac-4769-bfe6-eae8e42ac731",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "IUR19Qd5OckVnKeL",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1808,
        1248
      ],
      "id": "426f0512-b266-4dd4-93a1-6314b38af911",
      "name": "Simple Memory1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        2400,
        1248
      ],
      "id": "bdb1f852-b473-43f4-906e-833e476487a5",
      "name": "Code Tool1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://creditcard-fraud-eda-x8q6et6.svc.aped-4627-b74a.pinecone.io/vectors/fetch",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "={{ $('Format Input').first().json.pineconeApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"vectors\": [\n      {\n        \"id\": $json.id,\n        \"values\": $json.values,\n        \"metadata\": $json.metadata\n      }\n    ],\n    \"namespace\": \"default\"\n  }\n}}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 25
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2112,
        1248
      ],
      "id": "b10a21d1-a531-451b-8e76-0519fb2e7b0e",
      "name": "HTTP Request Fetch1",
      "credentials": {
        "pineconeApi": {
          "id": "unR8Atft8zE7js78",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://creditcard-fraud-eda-x8q6et6.svc.aped-4627-b74a.pinecone.io/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "={{ $('Format Input').first().json.pineconeApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"default\",\n  \"topK\": 200,\n  \"includeMetadata\": true,\n  \"includeValues\": false,\n  \"vector\": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\n  \"filter\": {}\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 25
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2256,
        1248
      ],
      "id": "e3a8de47-404e-4dff-9086-f0798f1bb25a",
      "name": "HTTP Request Query1",
      "credentials": {
        "pineconeApi": {
          "id": "unR8Atft8zE7js78",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst output = item.output;\nconst jsonMatch = output.match(/```json\\s*([\\s\\S]*?)```/);\nlet structuredData = null;\nlet textResponse = output;\nif (jsonMatch && jsonMatch[1]) {\n  try {\n    structuredData = JSON.parse(jsonMatch[1].trim());\n    textResponse = output.replace(/```json[\\s\\S]*?```/g, '').trim();\n  } catch (e) {\n    console.log('Failed to parse JSON:', e.message);\n  }\n}\nreturn {\n  textResponse: textResponse,\n  hasStructuredData: !!structuredData,\n  structuredData: structuredData,\n  rawOutput: output\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        1008
      ],
      "id": "cd4323d4-12c7-46c0-9cad-6ee0f04f540e",
      "name": "Extract JSON Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-data",
              "leftValue": "={{ $json.hasStructuredData }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3440,
        1008
      ],
      "id": "b656a9df-aa8c-4187-a561-584373f2919e",
      "name": "Has Structured Data?"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst data = item.structuredData;\nif (!data || !data.data) {\n  return item;\n}\nif (data.data.labels && data.data.values) {\n  if (data.data.labels.length !== data.data.values.length) {\n    throw new Error('Labels and values arrays must have the same length');\n  }\n}\nconst chartConfig = {\n  type: data.recommendedVisualization || 'bar',\n  title: data.title,\n  labels: data.data.labels,\n  values: data.data.values,\n  metadata: data.data.metadata || {},\n  insights: data.insights || []\n};\nif (chartConfig.type === 'pie' || chartConfig.type === 'doughnut') {\n  chartConfig.colors = ['#4ECDC4', '#FF6B6B', '#45B7D1', '#FFA07A', '#98D8C8'];\n} else if (chartConfig.type === 'bar') {\n  chartConfig.colors = ['#667eea'];\n} else if (chartConfig.type === 'line') {\n  chartConfig.colors = ['#667eea'];\n}\nreturn {\n  textResponse: item.textResponse,\n  structuredData: data,\n  chartConfig: chartConfig,\n  readyForVisualization: true\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        912
      ],
      "id": "d7efa324-d63c-4a75-96de-6d9b0f1a338c",
      "name": "Prepare for Visualization"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst config = item.chartConfig;\nif (!config) {\n  return item;\n}\nconst quickChartConfig = {\n  type: config.type,\n  data: {\n    labels: config.labels,\n    datasets: [{\n      label: config.title,\n      data: config.values,\n      backgroundColor: config.colors[0],\n      borderColor: config.colors[0],\n      borderWidth: 2,\n      fill: config.type === 'line' ? false : true\n    }]\n  },\n  options: {\n    title: {\n      display: true,\n      text: config.title,\n      fontSize: 16\n    },\n    legend: {\n      display: config.type === 'pie' || config.type === 'doughnut'\n    },\n    responsive: true,\n    maintainAspectRatio: true\n  }\n};\nif (config.type === 'pie' || config.type === 'doughnut') {\n  quickChartConfig.data.datasets[0].backgroundColor = config.colors;\n}\nconst encodedConfig = encodeURIComponent(JSON.stringify(quickChartConfig));\nconst chartUrl = `https://quickchart.io/chart?c=${encodedConfig}&width=800&height=500&backgroundColor=white&format=png`;\nreturn {\n  ...item,\n  chartUrl: chartUrl\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4016,
        912
      ],
      "id": "626b7951-4e88-4cd8-8ec7-100e5043c746",
      "name": "Generate Chart URL"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst hasChart = item.chartUrl && item.chartUrl.length > 0;\nconst response = {\n  text: item.textResponse,\n  hasVisualization: hasChart,\n  data: item.structuredData || null,\n  chartUrl: hasChart ? item.chartUrl : null,\n  insights: item.structuredData?.insights || [],\n  metadata: item.structuredData?.data?.metadata || {}\n};\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        1008
      ],
      "id": "24edc52f-3960-493f-b108-68bf7024996b",
      "name": "Format Final Response"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn {\n  text: item.textResponse,\n  hasVisualization: false,\n  data: null,\n  chartUrl: null,\n  insights: [],\n  metadata: {}\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        1104
      ],
      "id": "29f58fe2-0ff2-4b69-8222-c7dbb31f73b8",
      "name": "Text-Only Response"
    },
    {
      "parameters": {
        "content": "## Data Retrieval & Processing Pipeline",
        "height": 768,
        "width": 1152,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        816
      ],
      "id": "1c6df87d-d8a7-4747-9ecf-d6d08bc244e9",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an expert Credit Card Fraud Detection Data Analyst. Your job is to retrieve data from Pinecone and output structured JSON for visualization. When users request analysis, you should: 1) Retrieve relevant data from Pinecone, 2) Analyze using Code Tool, 3) Provide text explanation, 4) Output JSON in this format wrapped in ```json code blocks: {\"analysisType\": \"distribution|comparison|temporal\", \"title\": \"Title in Portuguese\", \"description\": \"What this represents\", \"data\": {\"labels\": [\"Cat1\", \"Cat2\"], \"values\": [123, 456], \"metadata\": {}}, \"insights\": [\"insight 1\", \"insight 2\"], \"recommendedVisualization\": \"bar|pie|line\"}. You do NOT create charts - just provide clean data."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1792,
        1008
      ],
      "id": "8049b041-cf83-4d45-975f-e3b18397250d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "063be24d-1dda-4604-be66-e8cd672f58cf",
              "name": "pineconeLocation",
              "value": "={{ $json.body.indexUrl }}",
              "type": "string"
            },
            {
              "id": "7800be2d-3cc5-4a83-9b92-e12f0e32a098",
              "name": "pinecone_APIKey",
              "value": "={{ $json.body.apiKey }}",
              "type": "string"
            },
            {
              "id": "4928105b-65b2-4bcd-986b-05c4c081e639",
              "name": "numMaxRecordsToLoad",
              "value": "={{ $json.body.maxRecords }}",
              "type": "number"
            },
            {
              "id": "1fc34f1f-f4ac-445a-babf-6c191125a1d6",
              "name": "startLine",
              "value": "={{ $json.body.startLine }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        160
      ],
      "id": "8e229493-b2ed-4698-b3e8-594eda830f9a",
      "name": "Set load variables"
    },
    {
      "parameters": {
        "content": "## **Front-end - Send  HTML Page for analysis**\n\n1. Define API fraud-api URL\n2. Send HTML Page with Java Script to read responses from User Chat and call APIs fraud-api\n\n\n\n\n",
        "height": 400,
        "width": 1136,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1872,
        944
      ],
      "id": "402e5a3b-20fa-479d-bbe5-25ea86cbf137",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## **API para carga do arquivo**\n\n1.  Define API fraud-load-api to start the data base load process\n2.  Seta variaveis com parametros de carga como \n2.1 URL do Index do pinecone\n2.2 Api-key do pinecone\n2.3 Numero de registros para carga no pinecone (rate limit faz velocidade da carga de ~ 30,000 registros/hora)\n\n\n\n",
        "height": 400,
        "width": 1264,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -48
      ],
      "id": "a3772ae1-dab2-49d9-bf31-db570e575659",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## **Formatacao da Resposta**\n\n1. Clean AI Agent Output as pure JSON\n2. Test if the response contain a chart\n3. If does contain a chart\n3.1 Prepare for visualization using QuickChart\n3.2 Format QuickChart URL\n4. If does not contain a chart, clean the chart fields\n5. Prepare data to be processed by front-end java script\n\n\n\n\n",
        "height": 784,
        "width": 2176,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2656,
        816
      ],
      "id": "3e9980b7-f91e-49fd-9f0b-930491cdd024",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## **Front-end - Send  Main HTML Page**\n\n1. Set the URL\n2. Send HTML Page with options for load or analysis (API fraud-load-api or fraud-chat)\n\n\n\n\n",
        "height": 400,
        "width": 1136,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1872,
        32
      ],
      "id": "212327e2-f8ab-4d92-a526-b48bc63f9cdc",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## **Front-end - Send  HTML Page for Loading**\n\n1. Define API fraud-load-api URL\n2. Send HTML Page with Java Script to read responses with load parameters and call API (fraud-Load-api)\n\n\n\n\n",
        "height": 400,
        "width": 1136,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1872,
        496
      ],
      "id": "184d2897-7b3b-4d84-962d-f9f730e002ca",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "path": "fraud-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1360,
        192
      ],
      "id": "e221ea7d-8eba-46db-9a7c-75646c839168",
      "name": "Webhook - Main HTML Page",
      "webhookId": "fraud-chat-html"
    },
    {
      "parameters": {
        "path": "fraud-load",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1360,
        656
      ],
      "id": "242590ef-9c06-4d52-8e23-616db3baf502",
      "name": "Webhook - HTML Page for Loading",
      "webhookId": "fraud-chat-html"
    },
    {
      "parameters": {
        "path": "fraud-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1360,
        1104
      ],
      "id": "7b242f15-11a9-4bd8-8fac-e11b6e6d4849",
      "name": "Webhook - HTML Page for Analysis",
      "webhookId": "fraud-chat-html"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Credit Card Fraud Detection System</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: \"Segoe UI\", Tahoma, Geneva, Verdana, sans-serif;\n      background: linear-gradient(135deg, #667eea, #764ba2);\n      min-height: 100vh;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      padding: 20px;\n    }\n    .container {\n      background: #ffffff;\n      border-radius: 20px;\n      box-shadow: 0px 8px 25px rgba(0,0,0,0.25);\n      max-width: 800px;\n      width: 100%;\n      overflow: hidden;\n    }\n    .header {\n      background: #667eea;\n      padding: 40px;\n      text-align: center;\n      color: white;\n    }\n    .header h1 { font-size: 32px; margin-bottom: 10px; }\n    .header p { opacity: 0.9; font-size: 16px; }\n    .content {\n      padding: 40px;\n    }\n    .option-card {\n      background: #f7f7fb;\n      border: 2px solid #e0e0e0;\n      border-radius: 12px;\n      padding: 30px;\n      margin-bottom: 20px;\n      cursor: pointer;\n      transition: all 0.3s;\n    }\n    .option-card:hover {\n      border-color: #667eea;\n      box-shadow: 0 4px 12px rgba(102, 126, 234, 0.2);\n      transform: translateY(-2px);\n    }\n    .option-card h2 {\n      color: #667eea;\n      font-size: 24px;\n      margin-bottom: 10px;\n    }\n    .option-card p {\n      color: #666;\n      line-height: 1.6;\n    }\n    .icon {\n      font-size: 48px;\n      margin-bottom: 15px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>💳 Credit Card Fraud Detection System</h1>\n      <p>Sistema de Detecção de Fraude em Cartão de Crédito</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"option-card\" onclick=\"navigateTo('upload-zip')\">\n        <div class=\"icon\">📁</div>\n        <h2>Upload ZIP para Google Drive</h2>\n        <p>Envie arquivos ZIP do seu disco local para o Google Drive. Útil para fazer backup dos datasets antes do processamento.</p>\n      </div>\n      \n      <div class=\"option-card\" onclick=\"navigateTo('loading')\">\n        <div class=\"icon\">📤</div>\n        <h2>Carregar Dados no Pinecone</h2>\n        <p>Faça upload de dados CSV para o Vector Store do Pinecone. Configure o índice, chave API e número de registros a serem carregados.</p>\n      </div>\n      \n      <div class=\"option-card\" onclick=\"navigateTo('analysis')\">\n        <div class=\"icon\">📊</div>\n        <h2>Analisar Dados Existentes</h2>\n        <p>Converse com o Agente de IA para realizar análises exploratórias de dados sobre fraudes em cartão de crédito.</p>\n      </div>\n    </div>\n  </div>\n  <script>\n    const BASE_URL = (() => {\n      const origin = window.location.origin;\n      const protocol = window.location.protocol;\n      const host = window.location.host;\n      if (origin && origin !== 'null' && protocol !== 'about:') return origin;\n      if (protocol && protocol !== 'about:' && host) return protocol + '//' + host;\n      return '';\n    })();\n\n    function navigateTo(page) {\n      if (page === 'upload-zip') {\n        window.location.href = BASE_URL + '/webhook/upload-zip';\n      } else if (page === 'loading') {\n        window.location.href = BASE_URL + '/webhook/fraud-load';\n      } else if (page === 'analysis') {\n        window.location.href = BASE_URL + '/webhook/fraud-analysis';\n      }\n    }\n  </script>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -992,
        192
      ],
      "id": "a0d4cf5d-1592-4c85-a99b-0a5be625bc17",
      "name": "Respond to Main Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Carregar Dados - Fraud Detection</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: \"Segoe UI\", Tahoma, Geneva, Verdana, sans-serif;\n      background: linear-gradient(135deg, #667eea, #764ba2);\n      min-height: 100vh;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      padding: 20px;\n    }\n    .container {\n      background: #ffffff;\n      border-radius: 20px;\n      box-shadow: 0px 8px 25px rgba(0,0,0,0.25);\n      max-width: 700px;\n      width: 100%;\n      overflow: hidden;\n    }\n    .header {\n      background: #667eea;\n      padding: 30px;\n      text-align: center;\n      color: white;\n    }\n    .header h1 { font-size: 28px; margin-bottom: 10px; }\n    .header p { opacity: 0.9; font-size: 14px; }\n    .content {\n      padding: 40px;\n    }\n    .form-group {\n      margin-bottom: 25px;\n    }\n    .form-group label {\n      display: block;\n      margin-bottom: 8px;\n      font-weight: 600;\n      color: #333;\n    }\n    .form-group input {\n      width: 100%;\n      padding: 12px;\n      border: 2px solid #e0e0e0;\n      border-radius: 8px;\n      font-size: 14px;\n      transition: border-color 0.3s;\n    }\n    .form-group input:focus {\n      outline: none;\n      border-color: #667eea;\n    }\n    .form-group .helper {\n      font-size: 12px;\n      color: #666;\n      margin-top: 5px;\n    }\n    .estimate {\n      background: #f0f4ff;\n      border-left: 4px solid #667eea;\n      padding: 15px;\n      border-radius: 8px;\n      margin: 20px 0;\n      display: none;\n    }\n    .estimate strong { color: #667eea; }\n    .buttons {\n      display: flex;\n      gap: 10px;\n      margin-top: 30px;\n    }\n    .btn {\n      flex: 1;\n      padding: 14px;\n      border: none;\n      border-radius: 8px;\n      font-size: 16px;\n      font-weight: 600;\n      cursor: pointer;\n      transition: all 0.3s;\n    }\n    .btn-primary {\n      background: #667eea;\n      color: white;\n    }\n    .btn-primary:hover {\n      background: #4a5cd1;\n    }\n    .btn-primary:disabled {\n      opacity: 0.5;\n      cursor: not-allowed;\n    }\n    .btn-secondary {\n      background: #e0e0e0;\n      color: #333;\n    }\n    .btn-secondary:hover {\n      background: #d0d0d0;\n    }\n    .loading {\n      text-align: center;\n      padding: 20px;\n      display: none;\n    }\n    .loading-spinner {\n      border: 4px solid #f3f3f3;\n      border-top: 4px solid #667eea;\n      border-radius: 50%;\n      width: 40px;\n      height: 40px;\n      animation: spin 1s linear infinite;\n      margin: 0 auto 15px;\n    }\n    @keyframes spin {\n      0% { transform: rotate(0deg); }\n      100% { transform: rotate(360deg); }\n    }\n    .success {\n      background: #d4edda;\n      color: #155724;\n      padding: 15px;\n      border-radius: 8px;\n      border-left: 4px solid #28a745;\n      margin-top: 20px;\n      display: none;\n    }\n    .error {\n      background: #f8d7da;\n      color: #721c24;\n      padding: 15px;\n      border-radius: 8px;\n      border-left: 4px solid #dc3545;\n      margin-top: 20px;\n      display: none;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📤 Carregar Dados no Pinecone</h1>\n      <p>Configure os parâmetros para carregar dados de transações</p>\n    </div>\n    <div class=\"content\">\n      <form id=\"loadForm\">\n        <div class=\"form-group\">\n          <label for=\"maxRecords\">Número Máximo de Registros *</label>\n          <input type=\"number\" id=\"maxRecords\" required min=\"1000\" max=\"300000\" \n                 value=\"30000\" onchange=\"calculateEstimate()\">\n          <div class=\"helper\">Entre 1.000 e 300.000 registros (dataset completo: 284.807)</div>\n        </div>\n\n        <div class=\"form-group\">\n          <label for=\"startLine\">Registro Inicial *</label>\n          <input type=\"number\" id=\"startLine\" required min=\"1\" max=\"284807\" \n                 value=\"1\" onchange=\"calculateEstimate()\">\n          <div class=\"helper\">Linha inicial para começar a leitura (padrão: 1)</div>\n        </div>\n\n        <div class=\"estimate\" id=\"estimate\">\n          <strong>⏱️ Tempo Estimado:</strong> <span id=\"estimateTime\">-</span>\n          <br>\n          <small>Baseado em 30.000 registros/hora (pré-processamento + upload Pinecone)</small>\n        </div>\n\n        <div class=\"buttons\">\n          <button type=\"button\" class=\"btn btn-secondary\" onclick=\"goBack()\">Voltar</button>\n          <button type=\"submit\" class=\"btn btn-primary\" id=\"submitBtn\">Iniciar Carga</button>\n        </div>\n      </form>\n\n      <div class=\"loading\" id=\"loading\">\n        <div class=\"loading-spinner\"></div>\n        <p>Iniciando processo de carga...</p>\n      </div>\n\n      <div class=\"success\" id=\"success\">\n        <strong>✓ Sucesso!</strong><br>\n        Processo de carga iniciado. Os dados estão sendo processados em background.\n      </div>\n\n      <div class=\"error\" id=\"error\">\n        <strong>✗ Erro</strong><br>\n        <span id=\"errorMessage\">Erro ao iniciar carga. Verifique os parâmetros.</span>\n      </div>\n    </div>\n  </div>\n\n  <script>\n    // Hardcoded values - you should replace these with your actual values\n    const PINECONE_INDEX_URL = 'https://creditcard-fraud-eda-x8q6et6.svc.aped-4627-b74a.pinecone.io';\n    const PINECONE_API_KEY = 'YOUR_PINECONE_API_KEY_HERE';\n\n    const API_URL = (() => {\n      const origin = window.location.origin;\n      const protocol = window.location.protocol;\n      const host = window.location.host;\n      if (origin && origin !== 'null' && protocol !== 'about:') return origin + '/webhook/fraud-load-api';\n      if (protocol && protocol !== 'about:' && host) return protocol + '//' + host + '/webhook/fraud-load-api';\n      return '/webhook/fraud-load-api';\n    })();\n\n    function calculateEstimate() {\n      const records = parseInt(document.getElementById('maxRecords').value) || 0;\n      if (records > 0) {\n        const hours = records / 30000;\n        const minutes = Math.ceil(hours * 60);\n        let timeStr = '';\n        if (hours >= 1) {\n          const h = Math.floor(hours);\n          const m = Math.ceil((hours - h) * 60);\n          timeStr = `${h}h ${m}min`;\n        } else {\n          timeStr = `${minutes} minutos`;\n        }\n        document.getElementById('estimateTime').textContent = timeStr;\n        document.getElementById('estimate').style.display = 'block';\n      }\n    }\n\n    function goBack() {\n      const baseUrl = (() => {\n        const origin = window.location.origin;\n        const protocol = window.location.protocol;\n        const host = window.location.host;\n        if (origin && origin !== 'null' && protocol !== 'about:') return origin;\n        if (protocol && protocol !== 'about:' && host) return protocol + '//' + host;\n        return '';\n      })();\n      window.location.href = baseUrl + '/webhook/fraud-chat';\n    }\n\n    calculateEstimate();\n\n    document.getElementById('loadForm').addEventListener('submit', async function(e) {\n      e.preventDefault();\n      \n      const maxRecords = parseInt(document.getElementById('maxRecords').value);\n      const startLine = parseInt(document.getElementById('startLine').value);\n\n      document.getElementById('loadForm').style.display = 'none';\n      document.getElementById('loading').style.display = 'block';\n\n      try {\n        const response = await fetch(API_URL, {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({\n            indexUrl: PINECONE_INDEX_URL,\n            apiKey: PINECONE_API_KEY,\n            maxRecords: maxRecords,\n            startLine: startLine\n          })\n        });\n\n        const result = await response.json();\n        console.log('Load response:', result);\n\n        document.getElementById('loading').style.display = 'none';\n        document.getElementById('success').style.display = 'block';\n\n        setTimeout(() => goBack(), 3000);\n\n      } catch (error) {\n        console.error('Error:', error);\n        document.getElementById('loading').style.display = 'none';\n        document.getElementById('error').style.display = 'block';\n        document.getElementById('errorMessage').textContent = error.message;\n      }\n    });\n  </script>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -992,
        656
      ],
      "id": "7c821063-dff7-4244-8689-e7668bd69a70",
      "name": "Respond to Loading Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Fraud Detection Chat</title>\n  <style>\n    body {\n      margin: 0;\n      font-family: \"Segoe UI\", Tahoma, Geneva, Verdana, sans-serif;\n      background: linear-gradient(135deg, #667eea, #764ba2);\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      color: #fff;\n    }\n\n    .chat-container {\n      width: 90%;\n      max-width: 700px;\n      height: 85vh;\n      background: #ffffff;\n      border-radius: 20px;\n      display: flex;\n      flex-direction: column;\n      box-shadow: 0px 8px 25px rgba(0,0,0,0.25);\n      overflow: hidden;\n    }\n\n    .header {\n      background: #667eea;\n      padding: 15px;\n      font-size: 20px;\n      font-weight: bold;\n      text-align: center;\n      color: white;\n    }\n\n    .messages {\n      flex: 1;\n      padding: 20px;\n      overflow-y: auto;\n      background: #f7f7fb;\n    }\n\n    .message {\n      margin-bottom: 15px;\n      display: flex;\n    }\n\n    .message.user {\n      justify-content: flex-end;\n    }\n\n    .message.agent {\n      justify-content: flex-start;\n    }\n\n    .message-content {\n      max-width: 70%;\n      padding: 12px 18px;\n      border-radius: 18px;\n      line-height: 1.4;\n      white-space: pre-wrap;\n    }\n\n    .user .message-content {\n      background: #667eea;\n      color: #fff;\n      border-bottom-right-radius: 4px;\n    }\n\n    .agent .message-content {\n      background: #ececec;\n      color: #333;\n      border-bottom-left-radius: 4px;\n    }\n\n    .input-container {\n      display: flex;\n      padding: 15px;\n      background: #fff;\n      border-top: 1px solid #ddd;\n    }\n\n    .input-container input {\n      flex: 1;\n      padding: 12px;\n      border-radius: 25px;\n      border: 1px solid #ccc;\n      outline: none;\n      margin-right: 10px;\n    }\n\n    .input-container button {\n      padding: 12px 20px;\n      border: none;\n      border-radius: 25px;\n      background: #667eea;\n      color: #fff;\n      font-weight: bold;\n      cursor: pointer;\n      transition: background 0.3s;\n    }\n\n    .input-container button:hover {\n      background: #4a5cd1;\n    }\n\n    .loading {\n      text-align: center;\n      padding: 10px;\n      color: #888;\n      font-size: 14px;\n      display: none;\n    }\n\n    .insights {\n      margin-top: 10px;\n      padding: 10px;\n      background: #fafafa;\n      border-left: 4px solid #667eea;\n      font-size: 14px;\n      border-radius: 8px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"chat-container\">\n    <div class=\"header\">💳 Fraud Detection Assistant</div>\n\n    <div id=\"chatContainer\" class=\"messages\"></div>\n    <div id=\"loading\" class=\"loading\">⏳ Processando...</div>\n    <div class=\"input-container\">\n      <input id=\"userInput\" type=\"text\" placeholder=\"Digite sua mensagem...\" onkeypress=\"handleKeyPress(event)\">\n      <button id=\"sendBtn\" onclick=\"sendMessage()\">Enviar</button>\n    </div>\n  </div>\n\n  <script>\n    // Hardcoded Pinecone configuration - replace with your actual values\n    const PINECONE_URL = 'https://creditcard-fraud-eda2-x8q6et6.svc.aped-4627-b74a.pinecone.io';\n    const PINECONE_API_KEY = 'YOUR_PINECONE_API_KEY_HERE';\n\n    const WEBHOOK_URL = (() => {\n      const origin = window.location.origin;\n      const protocol = window.location.protocol;\n      const host = window.location.host;\n      \n      if (origin && origin !== 'null' && protocol !== 'about:') {\n        return origin + '/webhook/fraud-chat-api';\n      }\n      \n      if (protocol && protocol !== 'about:' && host) {\n        return protocol + '//' + host + '/webhook/fraud-chat-api';\n      }\n      \n      return '/webhook/fraud-chat-api';\n    })();\n\n    console.log('WEBHOOK_URL:', WEBHOOK_URL);\n\n    function handleKeyPress(event) {\n      if (event.key === 'Enter') sendMessage();\n    }\n\n    async function sendMessage() {\n      const input = document.getElementById('userInput');\n      const message = input.value.trim();\n      \n      if (!message) return;\n\n      addMessage(message, 'user');\n      input.value = '';\n      document.getElementById('loading').style.display = 'block';\n      document.getElementById('sendBtn').disabled = true;\n\n      try {\n        const response = await fetch(WEBHOOK_URL, {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ \n            message: message, \n            sessionId: 'web-session',\n            pineconeUrl: PINECONE_URL,\n            pineconeKey: PINECONE_API_KEY\n          })\n        });\n\n        const result = await response.json();\n        console.log('Response data:', result);\n\n        displayResponse(result);\n\n      } catch (error) {\n        console.error('Error:', error);\n        addMessage('⚠️ Desculpe, encontrei um erro. Por favor, tente novamente.', 'agent');\n      }\n\n      document.getElementById('loading').style.display = 'none';\n      document.getElementById('sendBtn').disabled = false;\n    }\n\n    function displayResponse(result) {\n      const res = Array.isArray(result) ? result[0] : result;\n\n      const responseText = res.text || res.reply || res.message || 'Sem resposta do servidor.';\n      const chartUrl = res.chartUrl || null;\n      const insights = res.insights || [];\n\n      addMessage(responseText, 'agent', chartUrl, insights);\n\n      if (res.hasVisualization && res.data) {\n        console.log('Structured data:', res.data);\n        console.log('Metadata:', res.metadata);\n      }\n    }\n\n    function addMessage(text, sender, chartUrl, insights) {\n      const container = document.getElementById('chatContainer');\n      const messageDiv = document.createElement('div');\n      messageDiv.className = `message ${sender}`;\n      const contentDiv = document.createElement('div');\n      contentDiv.className = 'message-content';\n\n      const cleanText = text ? text.replace(/```json[\\s\\S]*?```/g, '') : '';\n\n      contentDiv.innerHTML = cleanText\n        .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n        .replace(/\\n\\n/g, '<br><br>')\n        .replace(/\\n/g, '<br>')\n        .replace(/###\\s+(.*?)(<br>|$)/g, '<h3>$1</h3>')\n        .replace(/##\\s+(.*?)(<br>|$)/g, '<h3>$1</h3>')\n        .replace(/- (.*?)(<br>|$)/g, '<li>$1</li>');\n\n      if (chartUrl) {\n        const img = document.createElement('img');\n        img.src = chartUrl;\n        img.alt = 'Visualização de Dados';\n        img.style.marginTop = '15px';\n        img.style.maxWidth = '100%';\n        contentDiv.appendChild(img);\n      }\n\n      if (insights && insights.length > 0) {\n        const insightsDiv = document.createElement('div');\n        insightsDiv.className = 'insights';\n        insightsDiv.innerHTML = '<strong>Principais Insights:</strong><br>' + \n          insights.map(i => '• ' + i).join('<br>');\n        contentDiv.appendChild(insightsDiv);\n      }\n\n      messageDiv.appendChild(contentDiv);\n      container.appendChild(messageDiv);\n      container.scrollTop = container.scrollHeight;\n    }\n  </script>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -992,
        1104
      ],
      "id": "84fd1cf2-0f46-4efe-8e35-aa0add2bdbc7",
      "name": "Respond to Analysis Webhook"
    },
    {
      "parameters": {
        "content": "# **Front-end**\n\n\n\n\n",
        "height": 2144,
        "width": 1680
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2192,
        -160
      ],
      "id": "7686f1b9-cda9-4dd8-b42a-18e25c76629c",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# **Back-end APIs**\n\n\n\n\n",
        "height": 2160,
        "width": 1680
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -176
      ],
      "id": "aec2e81b-e705-41a2-a3b8-1c03f6927f10",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# **Back-end Analysis**\n\n\n\n\n",
        "height": 1344,
        "width": 4080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        624
      ],
      "id": "2bfb1162-091f-4cea-a6dc-a4323773347e",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "# **Back-end Loading**\n\n\n\n\n",
        "height": 688,
        "width": 4080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -176
      ],
      "id": "d0f25163-fde0-4489-87a7-4571cb749b05",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## **API para Analise estatistica**\n\n1.  Define API fraud-api to start the AI Agent for statistical analysis\n2.  Formata entrada de dados\n\n\n\n",
        "height": 400,
        "width": 1264,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        832
      ],
      "id": "1b4e07df-276b-457f-b6c2-ce3d42eae2bc",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fraud-load-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        400,
        160
      ],
      "id": "167054a2-9ee7-4d79-a826-7b87b02b9c67",
      "name": "Webhook Pinecone Load API",
      "webhookId": "8c6717e1-6c7d-448e-ae70-bbb08cdeec93"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        5152,
        160
      ],
      "id": "50c1cf84-a9fb-4020-8d21-e7da7055727c",
      "name": "Respond to Loading Webhook2"
    },
    {
      "parameters": {
        "path": "upload-zip",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "647e05c8-eaaf-45de-a418-d71846c5c51e",
      "name": "Webhook - Display Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        1664
      ],
      "webhookId": "e707f7ae-749a-4cb2-a2a6-3d360a980e86"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Upload ZIP para Google Drive</title>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            min-height: 100vh;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            padding: 20px;\n        }\n        .container {\n            background: white;\n            padding: 40px;\n            border-radius: 20px;\n            box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n            max-width: 500px;\n            width: 100%;\n        }\n        h1 {\n            color: #333;\n            margin-bottom: 10px;\n            font-size: 28px;\n        }\n        .subtitle {\n            color: #666;\n            margin-bottom: 30px;\n            font-size: 14px;\n        }\n        .form-group {\n            margin-bottom: 25px;\n        }\n        label {\n            display: block;\n            margin-bottom: 8px;\n            color: #555;\n            font-weight: 600;\n            font-size: 14px;\n        }\n        input[type=\"text\"] {\n            width: 100%;\n            padding: 12px 15px;\n            border: 2px solid #e0e0e0;\n            border-radius: 8px;\n            font-size: 14px;\n            transition: all 0.3s;\n        }\n        input[type=\"text\"]:focus {\n            outline: none;\n            border-color: #667eea;\n            box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);\n        }\n        .hint {\n            font-size: 12px;\n            color: #888;\n            margin-top: 5px;\n        }\n        button {\n            width: 100%;\n            padding: 14px;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            border: none;\n            border-radius: 8px;\n            font-size: 16px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: transform 0.2s, box-shadow 0.2s;\n        }\n        button:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 10px 25px rgba(102, 126, 234, 0.4);\n        }\n        button:active {\n            transform: translateY(0);\n        }\n        .result {\n            margin-top: 20px;\n            padding: 15px;\n            border-radius: 8px;\n            display: none;\n        }\n        .result.success {\n            background: #d4edda;\n            color: #155724;\n            border: 1px solid #c3e6cb;\n        }\n        .result.error {\n            background: #f8d7da;\n            color: #721c24;\n            border: 1px solid #f5c6cb;\n        }\n        .loading {\n            display: none;\n            text-align: center;\n            margin-top: 20px;\n        }\n        .spinner {\n            border: 3px solid #f3f3f3;\n            border-top: 3px solid #667eea;\n            border-radius: 50%;\n            width: 40px;\n            height: 40px;\n            animation: spin 1s linear infinite;\n            margin: 0 auto;\n        }\n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>📤 Upload ZIP para Drive</h1>\n        <p class=\"subtitle\">Envie seu arquivo ZIP para o Google Drive</p>\n        \n        <form id=\"uploadForm\">\n            <div class=\"form-group\">\n                <label for=\"filePath\">Caminho do Arquivo ZIP</label>\n                <input \n                    type=\"text\" \n                    id=\"filePath\" \n                    name=\"filePath\" \n                    placeholder=\"C:\\Users\\SeuNome\\arquivo.zip\"\n                    required\n                >\n                <div class=\"hint\">Windows: C:\\pasta\\arquivo.zip | Linux/Mac: /home/user/arquivo.zip</div>\n            </div>\n            \n            <div class=\"form-group\">\n                <label for=\"fileName\">Nome no Google Drive (opcional)</label>\n                <input \n                    type=\"text\" \n                    id=\"fileName\" \n                    name=\"fileName\" \n                    placeholder=\"meu-arquivo.zip\"\n                >\n                <div class=\"hint\">Deixe em branco para usar o nome original</div>\n            </div>\n            \n            <button type=\"submit\">🚀 Fazer Upload</button>\n        </form>\n        \n        <div class=\"loading\">\n            <div class=\"spinner\"></div>\n            <p style=\"margin-top: 10px; color: #666;\">Enviando arquivo...</p>\n        </div>\n        \n        <div class=\"result\" id=\"result\"></div>\n    </div>\n    \n    <script>\n        document.getElementById('uploadForm').addEventListener('submit', async (e) => {\n            e.preventDefault();\n            \n            const filePath = document.getElementById('filePath').value;\n            const fileName = document.getElementById('fileName').value;\n            const resultDiv = document.getElementById('result');\n            const loadingDiv = document.querySelector('.loading');\n            const form = document.getElementById('uploadForm');\n            \n            // Mostrar loading\n            form.style.display = 'none';\n            loadingDiv.style.display = 'block';\n            resultDiv.style.display = 'none';\n            \n            try {\n                const response = await fetch('/webhook/upload-zip-api', {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({ filePath, fileName })\n                });\n                \n                const data = await response.json();\n                \n                loadingDiv.style.display = 'none';\n                resultDiv.style.display = 'block';\n                \n                if (data.success) {\n                    resultDiv.className = 'result success';\n                    resultDiv.innerHTML = `\n                        <strong>✅ Upload realizado com sucesso!</strong><br><br>\n                        <strong>Arquivo:</strong> ${data.fileName}<br>\n                        <strong>ID:</strong> ${data.fileId}<br>\n                        <a href=\"${data.webViewLink}\" target=\"_blank\" style=\"color: #155724; font-weight: 600;\">📂 Ver no Google Drive</a>\n                    `;\n                } else {\n                    throw new Error(data.error || 'Erro desconhecido');\n                }\n                \n                // Resetar form após 3 segundos\n                setTimeout(() => {\n                    form.style.display = 'block';\n                    form.reset();\n                }, 3000);\n                \n            } catch (error) {\n                loadingDiv.style.display = 'none';\n                resultDiv.style.display = 'block';\n                resultDiv.className = 'result error';\n                resultDiv.innerHTML = `<strong>❌ Erro:</strong> ${error.message}`;\n                form.style.display = 'block';\n            }\n        });\n    </script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -992,
        1664
      ],
      "id": "1c0b12e5-6413-40c7-9cb2-cc41a8b6a77e",
      "name": "Return HTML Form"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-zip-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8d91fd8e-d320-4967-b1d6-a08c4c0af419",
      "name": "Webhook - Process Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        1568
      ],
      "webhookId": "upload-zip-process"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"fileId\": $json.id, \"fileName\": $json.name, \"webViewLink\": $json.webViewLink} }}",
        "options": {}
      },
      "id": "df832fb1-d8c1-4ae9-8f7d-4a7880765b37",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        944,
        1584
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $node['Webhook - Process Upload'].json.body.filePath }}"
      },
      "id": "e8365c20-92ed-4b1c-af68-9cf3a0f344e5",
      "name": "Read Binary File1",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        608,
        1584
      ]
    },
    {
      "parameters": {
        "name": "={{ $node['Webhook - Process Upload'].json.body.fileName || $node['Webhook - Process Upload'].json.body.filePath.split(/[\\\\/]/).pop() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "dad78b3e-9851-41b6-a4ec-92180f426c5b",
      "name": "Google Drive Upload1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        768,
        1584
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RX23XkAgwif02fAz",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "content": "## **API para upload do zip file**\n\n\n\n\n\n",
        "height": 400,
        "width": 1248,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        1440
      ],
      "id": "7586a5a4-d298-4e51-bae7-76fd1d7635c0",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## **Front-end - Upload zip file to Google drive**\n\n1. Define API upload-zip URL\n2. Send HTML Page with to read path\\name of the file to be uploaded and name on google drive (Root) folder\n\nImportant (This workflow always look for file creditcard.csv.zip in root folder\n\n\n\n\n",
        "height": 400,
        "width": 1136,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1888,
        1456
      ],
      "id": "d0f7ad81-a9c6-45e9-9fa8-2afffc127b85",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.body.fileName }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "whatToSearch": "all",
          "fileTypes": [
            "*"
          ],
          "includeTrashed": false
        },
        "options": {
          "fields": [
            "name",
            "id"
          ]
        }
      },
      "id": "9b1cf9da-4d00-4ad3-be7f-c069cc3d361d",
      "name": "Search Existing File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        1568
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RX23XkAgwif02fAz",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "file-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c64a487d-b596-476f-b1bd-11f72e34f8e3",
      "name": "File Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        304,
        1568
      ]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $node['Search Existing File'].json.id }}",
          "mode": "id"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "id": "852192cc-d564-451b-a2ad-b43025a0e681",
      "name": "Delete Old File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        1488
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RX23XkAgwif02fAz",
          "name": "Google Drive account 8"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code - Compute Metadata6": {
      "main": [
        [
          {
            "node": "Code - Create Embeddings6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Create Embeddings6": {
      "main": [
        [
          {
            "node": "HTTP Request POST to Pinecone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File6": {
      "main": [
        [
          {
            "node": "Code - Compute Metadata6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress1": {
      "main": [
        [
          {
            "node": "Extract from File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Download1": {
      "main": [
        [
          {
            "node": "Decompress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request POST to Pinecone1": {
      "main": [
        [
          {
            "node": "Respond to Loading Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - API": {
      "main": [
        [
          {
            "node": "Format Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Fetch1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Query1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON Data": {
      "main": [
        [
          {
            "node": "Has Structured Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Structured Data?": {
      "main": [
        [
          {
            "node": "Prepare for Visualization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text-Only Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Visualization": {
      "main": [
        [
          {
            "node": "Generate Chart URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Chart URL": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response": {
      "main": [
        [
          {
            "node": "Respond with JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text-Only Response": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Extract JSON Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set load variables": {
      "main": [
        [
          {
            "node": "Google Drive Download1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Main HTML Page": {
      "main": [
        [
          {
            "node": "Respond to Main Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - HTML Page for Loading": {
      "main": [
        [
          {
            "node": "Respond to Loading Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - HTML Page for Analysis": {
      "main": [
        [
          {
            "node": "Respond to Analysis Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Pinecone Load API": {
      "main": [
        [
          {
            "node": "Set load variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Display Form": {
      "main": [
        [
          {
            "node": "Return HTML Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Process Upload": {
      "main": [
        [
          {
            "node": "Search Existing File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File1": {
      "main": [
        [
          {
            "node": "Google Drive Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload1": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing File": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Delete Old File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old File": {
      "main": [
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5f1d424-348d-4fc9-a427-dc95c5f2d5b7",
  "meta": {
    "instanceId": "eaebd30939f2fc986acde10a3ed66d23c143774e01686896b515439d5738bdd5"
  },
  "id": "lopUZuv3ns8k9DXg",
  "tags": []
}